@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  src: url("./../fonts/Nunito-ExtraBold.ttf");
}

@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: lighter;
  src: url("./../fonts/Nunito-Light.ttf");
}
